name: Tests

on: [pull_request]

jobs:
  unittest:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    runs-on: macos-13
    name: Python ${{ matrix.python-version }} tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install python dependencies
        run: |
          pip install pip -U
          pip install -r requirements.txt.lock -U
          pip install -r requirements.dev.txt -U
      - name: Unit Test
        run: |
          python -m pytest tests --cov=lyrebird

  e2etest:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"
      - name: Install dependency
        run: |
          pip install pip -U
          pip install -r requirements.txt.lock -U
          pip install -r requirements.dev.txt -U
      - name: Run e2e test
        run: |
          python -m pytest e2e_tests --cov=lyrebird
