name: Tests

on: [pull_request]

jobs:
  unittest:
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    runs-on: macos-latest
    name: Python ${{ matrix.python-version }} tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Unit Test
        run: |
          cd tests
          python -m pytest --cov=lyrebird

  e2etest:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - name: Install dependency
        run: |
          pip install --upgrade pip
          pip install -e .[dev]
      - name: Run e2e test
        run: |
          cd e2e_tests
          python -m pytest --cov=lyrebird
