name: Tests

on: [pull_request]

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Unit Test
        run: |
          cd tests
          python -m pytest --cov=lyrebird

  e2etest:
    name: 2nd job
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: Install dependency
        run: |
          pip install --upgrade pip
          pip install -e .[dev]
      - name: Run e2e test
        run: |
          cd e2e_tests
          python -m pytest --cov=lyrebird
